WIM/iWIM/Devl-RP/TalismanEnergy.WIM/TalismanEnergy.WIM.WellManager.Security/Web References/WSMTAuthService/authservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CanExecuteByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strAppName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAppVer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strWebSvrName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strWebSvrVer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMethodName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanExecuteByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CanExecuteByNameResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CanExecuteByNameSoapIn">
    <wsdl:part name="parameters" element="tns:CanExecuteByName" />
  </wsdl:message>
  <wsdl:message name="CanExecuteByNameSoapOut">
    <wsdl:part name="parameters" element="tns:CanExecuteByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthServiceSoap">
    <wsdl:operation name="CanExecuteByName">
      <wsdl:input message="tns:CanExecuteByNameSoapIn" />
      <wsdl:output message="tns:CanExecuteByNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthServiceSoap" type="tns:AuthServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CanExecuteByName">
      <soap:operation soapAction="http://tempuri.org/CanExecuteByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthService">
    <wsdl:port name="AuthServiceSoap" binding="tns:AuthServiceSoap">
      <soap:address location="http://calws1/WSMTAuthService/authservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>